.reading-details{
    box-shadow: 4px 4px 8px gray;
    padding-bottom: 20px;
}
.reading-details p{
    color: white;
    font-size: 16px;
    font-weight: 600;
}
.complete-btn{
    margin: 20px 0;
    padding: 10px;
    border: none;
    background-color: blue;
    color: white;
    font-size: 16px;
    font-weight: 600;
    border-radius: 5px;
}