.home-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.heading{
    color: lightseagreen;
}
.icon{
    margin-right: 10px;
}
.cards-info{
    background-color: lightseagreen;
}
@media screen and (max-width: 700px) {
    .home-container{
        grid-template-columns: auto;
    }
}